a{text-decoration: none !important;}
.ellipsis{overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.container{padding: 0 10px;width: 100%;overflow: hidden}
.header{position: fixed;top: 0;left: 0;width: 100%;z-index: 999}
.logo-container{padding: 10px;background-color: #2CA2F9;overflow: hidden;height: 51px;position: relative;}
.head-logo{float: left;height: 100%}
.head-logo img{height: 100%}
.head-download{float:left;height: 31px;width: 25%;margin-left: 4%;line-height: 31px;}
.head-download a{display: block;height: 100%;width: 100%;border: 1px solid #fff;text-align: center;color: #fff;border-radius: 5px;}
.head-search{float: right;height: 31px;padding: 3px 0}
.head-search img{height: 100%}
.header-nav{border-bottom: 5px solid #f4f4f4}
.main{margin-top: 94px;}
.search-panel{padding: 10px;background-color: #fbfbfb;height: 55px;}
.search-input{width: 80%;height: 100%;display: block;border: 1px solid #e5e5e5;border-radius: 7px;float: left;background-color: #fff}
.search-icon{display: block;float:left;width: 10%;height: 100%;background: url("http://m.kugou.com/v3/static/images/index/search_icon.png") no-repeat center;background-size: auto 100%}
.search-input input{width: 90%;height: 100%;display: inline-block;padding: 0 10px 0 0;border: none;outline: none;background-color: transparent}
.search-btn{display: block;height: 100%;width: 18%;background-color: #2ba2fa;float: right;border-radius: 7px;color: #fff;font-size: 16px;text-align: center;line-height: 35px;border: none;outline: none}
.search-list-title{padding: 10px;color: deepskyblue}
.search-total{padding: 5px 10px;background-color: #e1e1e1;color: #484848}
.rank-head{width: 100%;height: 43px;position: fixed;background: -webkit-linear-gradient(top,rgba(0,0,0,.6),rgba(0,0,0,0));top: 51px;z-index: 999;color: #fff;font-size: 18px;text-align: center;line-height: 43px;}
.rank-banner-wrap{width: 100%;height: 200px;margin-top: -43px;position: relative}
.rank-head-back{display: block;float: left;width: 24px;height: 100%;background: url("../../../static/goback_icon.png") no-repeat center;background-size: 60% 60%;position: absolute;left: 5px;top:0}
.rank-status{height: 43px;width: 100%;position: absolute;bottom: 0;left: 0;background: -webkit-linear-gradient(bottom,rgba(0,0,0,.6),rgba(0,0,0,0));line-height:43px;font-size: 15px;color: #fff}
.rank-info-list .rank-index{position: absolute;left: 20px;font-size: 12px;margin-top: 4px}
.rank-info-list .mint-cell-title{padding-left: 35px;}
.plist .mint-cell-text{position: absolute;left: 80px;top: 13px}
.plist .mint-cell-label{position: absolute;left: 80px;top: 28px}
.plist .mint-cell-label:before{content: '';display: inline-block;width: 12px;height: 12px;background: url("../../../static/icon_music.png") no-repeat center;background-size: 100%;}
.plist-info .mint-cell-title{padding-left: 5px}
.plist-desp{width: 100%;padding: 12px;font-size: 16px;position: relative;text-align: justify;}
.plist-desp-p{padding-right: 40px;}
.plist-desp-icon{display: block;width: 24px;height: 24px;position: absolute;right: 10px;top: 10px}
.plist-desp-hide{overflow: hidden;height: 16px}
.cell-group{margin: 15px 0;width: 100%;border: 1px solid #e4e4e4;border-radius: 5px;background-color: #fbfbfb}
.cell-item{padding: 12px 15px;font-size: 15px;border-bottom: 1px solid #e4e4e4;position: relative}
.cell-item:after{content: '';display: block;position: absolute;width: 12px;height: 100%;background: url("../../../static/arrow_icon.png") no-repeat center;background-size: 12px;top: 0;right: 15px}
.cell-item:last-of-type{border: none}
.order-img{width: 35px;}
.order-img p{font-size: 13px;text-align: center;color: #2ba2fa;margin-top: 3px}
.ringtone .mint-cell{padding: 5px 0 5px 5px}

/*player*/
.audio-panel{z-index: 999;width: 100%;height: 64px;background-color: rgba(0,0,0,0.8);padding: 7px;}
.audio-panel-control{width: 35px;height: 35px;border-radius: 50%;background: rgba(0,0,0,.8) url("../../../static/close_icon.png") no-repeat center;background-size: 25px;margin-left: 10px;margin-bottom: 10px;overflow: hidden}
.audio-view{position: fixed;bottom:0;left: 0;width: 100%;transition: all .5s;-webkit-transition: all .5s}
.audio_panel_hide{bottom: -64px}
.toggleContral{background: rgba(0,0,0,.8) url("../../../static/open_icon.png") no-repeat center;background-size: 25px !important;}
.player-img{height: 100%;float: left;border-radius: 2px}
.player-status{float: left;width: 50%;height: 100%;margin-left: 3%;padding: 5px 0;color: #fff;}
.player-title{width: 100%;font-size: 16px;overflow: hidden;display: block;}
.player-singer{display: block;height: 50%;width: 100%;color: #c4c4c4;padding-top: 2px}
.player-controls{width: 30%;float: right;height: 100%}
.player-controls span{display: block;width: 50%;height: 100%;float: left;}
.player-Play{background: url("../../../static/play_icon.png") no-repeat center;background-size:auto 70%;}
.player-Pause{background: url("../../../static/pause_icon.png") no-repeat center;background-size:auto 70%;}
.player-nextSong{background: url("../../../static/next_icon.png") no-repeat center;background-size:auto 70%;}
.audio-view .mint-spinner-snake{background-color: #000;margin:4px}
.mint-navbar .mint-tab-item.is-selected{margin-bottom: 0}

