a{text-decoration: none !important;}
.ellipsis{overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.container{padding: 0 10px;width: 100%;overflow: hidden}
.logo-container{padding: 10px;background-color: #2CA2F9;overflow: hidden;height: 51px;position: fixed;top: 0;left: 0;width: 100%;z-index: 1050}
.head-logo{float: left;height: 100%;}
.head-logo img{height: 100%}
.head-download{float:left;height: 31px;width: 25%;margin-left: 4%;line-height: 31px;}
.head-download a{display: block;height: 100%;width: 100%;border: 1px solid #fff;text-align: center;color: #fff;border-radius: 5px;}
.head-search{float: right;height: 31px;padding: 3px 0}
.head-search img{height: 100%}
.header-nav{position: fixed;top: 51px;left: 0;width: 100%;z-index: 1000;border-bottom: 1px solid #e4e4e4}
.main{margin-top: 94px;}
.search-panel{padding: 10px;background-color: #fbfbfb;height: 55px;}
.search-input{width: 80%;height: 100%;display: block;border: 1px solid #e5e5e5;border-radius: 7px;float: left;background-color: #fff}
.search-icon{display: block;float:left;width: 10%;height: 100%;background: url("http://m.kugou.com/v3/static/images/index/search_icon.png") no-repeat center;background-size: auto 100%}
.search-input input{width: 90%;height: 100%;display: inline-block;padding: 0 10px 0 0;border: none;outline: none;background-color: transparent}
.search-btn{display: block;height: 100%;width: 18%;background-color: #2ba2fa;float: right;border-radius: 7px;color: #fff;font-size: 15px;text-align: center;line-height: 35px;border: none;outline: none}
.search-list-title{padding: 10px;color: deepskyblue}
.search-total{padding: 5px 10px;background-color: #e1e1e1;color: #484848}
.rank-head{width: 100%;height: 43px;position: fixed;background: -webkit-linear-gradient(top,rgba(0,0,0,.6),rgba(0,0,0,0));top: 51px;z-index: 999;color: #fff;font-size: 18px;text-align: center;line-height: 43px;}
.rank-banner-wrap{width: 100%;height: 200px;margin-top: -43px;position: relative;background-position: center;
    background-repeat: no-repeat;background-size: 100%}
.rank-head-back{display: block;float: left;width: 24px;height: 100%;background: url("../images/goback_icon.png") no-repeat center;background-size: 60% 60%;position: absolute;left: 5px;top:0}
.rank-status{height: 43px;width: 100%;position: absolute;bottom: 0;left: 0;background: -webkit-linear-gradient(bottom,rgba(0,0,0,.6),rgba(0,0,0,0));line-height:43px;font-size: 15px;color: #fff}
.rank-info-list .rank-index{position: absolute;left: 20px;font-size: 12px;margin-top: 4px}
.rank-info-list .mint-cell-title{padding-left: 35px;}
.plist .mint-cell-text{position: absolute;left: 90px;top: 23px;padding-right: 40px;height: 16px;overflow: hidden;line-height: 16px;}
.plist .mint-cell-label{position: absolute;left: 90px;top: 38px}
.plist .mint-cell-label:before{content: '';display: inline-block;width: 12px;height: 12px;background: url("../images/icon_music.png") no-repeat center;background-size: 100%;}
.plist-info .mint-cell-title{padding-left: 5px}
.plist-desp{width: 100%;padding: 12px;font-size: 16px;position: relative;text-align: justify;}
.plist-desp-p{padding-right: 40px;line-height: 135%}
.plist-desp-icon{display: block;width: 24px;height: 24px;position: absolute;right: 10px;top: 10px}
.plist-desp-hide{overflow: hidden;height: 1.35em;}
.cell-group{margin: 15px 0;width: 100%;border: 1px solid #e4e4e4;border-radius: 5px;background-color: #fbfbfb}
.cell-item{padding: 12px 15px;font-size: 15px;border-bottom: 1px solid #e4e4e4;position: relative}
.cell-item:after{content: '';display: block;position: absolute;width: 12px;height: 100%;background: url("../images/arrow_icon.png") no-repeat center;background-size: 12px;top: 0;right: 15px}
.cell-item:last-of-type{border: none}
.order-img{width: 35px;}
.order-img p{font-size: 13px;text-align: center;color: #2ba2fa;margin-top: 3px}

/*player*/
.audio-panel{z-index: 999;width: 100%;height: 64px;background-color: rgba(0,0,0,0.8);padding: 7px;}
.audio-panel-control{width: 35px;height: 35px;border-radius: 50%;background: rgba(0,0,0,.8) url("../images/close_icon.png") no-repeat center;background-size: 25px;margin-left: 10px;margin-bottom: 10px;overflow: hidden}
.audio-view{position: fixed;bottom:0;left: 0;width: 100%;transition: all .5s;-webkit-transition: all .5s}
.audio_panel_hide{bottom: -64px}
.toggleContral{background: rgba(0,0,0,.8) url("../images/open_icon.png") no-repeat center;background-size: 25px !important;}
.player-img{height: 100%;float: left;border-radius: 2px}
.player-status{float: left;width: 50%;height: 100%;margin-left: 3%;padding: 5px 0;color: #fff;}
.player-title{width: 100%;font-size: 16px;overflow: hidden;display: block;}
.player-singer{display: block;height: 50%;width: 100%;color: #c4c4c4;padding-top: 2px}
.player-controls{width: 30%;float: right;height: 100%}
.player-controls span{display: block;width: 50%;height: 100%;float: left;}
.player-Play{background: url("../images/play_icon.png") no-repeat center;background-size:auto 70%;}
.player-Pause{background: url("../images/pause_icon.png") no-repeat center;background-size:auto 70%;}
.player-nextSong{background: url("../images/next_icon.png") no-repeat center;background-size:auto 70%;}
.audio-view .mint-spinner-snake{background-color: #000;margin:4px}
.mint-navbar .mint-tab-item.is-selected{margin-bottom: 0}

/* detail_player */
.detail_player{position: fixed;width: 100%;height: 100%;top:0;left:0;z-index: 1010;background-position: center;background-size: cover;background-repeat: no-repeat;}
.detail_player-content{position: fixed;width: 100%;height: 100%;top:0;left: 0;background-color: rgba(0,0,0,.5);z-index: 1010}
.detail_player-title{width: 100%;height: 43px;background: -webkit-linear-gradient(top,rgba(0,0,0,.6),rgba(0,0,0,0));color: #fff;font-size: 18px;text-align: center;line-height: 43px;margin-top: 51px;position: relative}
.detail_player-back{display: block;float: left;width: 24px;height: 100%;background: url("../images/goback_icon.png") no-repeat center;background-size: 60% 60%;position: absolute;left: 5px;top:0}
.detail_player-img{width: 50%;margin: 30px auto}
.detail_player-img img{width: 100%;}
.mt-range-thumb{width: 16px;height: 16px;top:7px}
.detail_player-time{display: block;width: 10%;height: 30px;float: left;line-height: 30px;color: #fff;font-size: 12px;text-align: center}
.detail_player-time:nth-of-type(2){float: right;margin-top: -30px;}
.mt-range{width: 80%;padding: 0 10px;overflow: hidden}
.mt-range--disabled{opacity: 1}
.mt-range-content{margin-right: 7px;width: 100%;}
.player-padding{padding: 0 20%}
.detail_player-control{margin-top: 10px;}
.detail_player-btn{display: block;width: 33.3%;float: left;height: 100px;}
.play-prev{background: url("../images/play_prev.png") no-repeat;background-size: 60% auto;background-position: center}
.play-play{background: url("../images/play_play.png") no-repeat;background-size: 80% auto;background-position: center}
.play-pause{background: url("../images/play_pause.png") no-repeat;background-size: 80% auto;background-position: center}
.play-next{background: url("../images/play_next.png") no-repeat;background-size: 60% auto;background-position: center}
.detail_player-lrc{width: 100%;height: 60px;overflow: hidden;margin-bottom: 20px;text-align: center;color: #fff;line-height: 20px;}
.lrc-content{transition: all .5s;transform: translateZ(0)}
.lrc-content .disCurrentLrc:last-of-type{
    color: orange;
}

/* override */
.mint-cell{padding-left: 10px;min-height: 52px}
.rank .mint-cell-wrapper{padding: 10px 5px;}
.plist .mint-cell-wrapper{padding: 10px 5px;}
.ringtone .mint-cell-wrapper{padding: 5px 0 5px 5px}
.singer_list .mint-cell-wrapper{padding: 10px 5px}
.mint-cell-wrapper{
    background-image: none;
    border-bottom: 1px solid #e8e8e8;
    font-size: 14px;
}

.mint-cell-title{
    padding-right: 10px;
}

/* media query */
@media screen and (max-width: 320px){
  .detail_player-btn{display: block;width: 33.3%;float: left;height: 60px;}
}


