* {
  box-sizing: border-box;
}
body,
dl,
dd,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
figure,
hr,
menu,
dir,
thead,
tbody,
tfoot {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style-type: none;
  list-style-image: none;
}
a {
  text-decoration: none !important;
}
a:hover {
  text-decoration: underline;
}
a:active {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0 none;
}
a:focus {
  outline: 0px none;
}
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%;
}
body {
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.2;
}
body,
button,
input,
select,
textarea {
  font-family: "helvetica neue", "hiragino sans gb", stheiti,
    "wenquanyi micro hei", \5fae\8f6f\96c5\9ed1, \5b8b\4f53, sans-serif;
}
h1 {
  font-size: 36px;
  font-size: 3.6rem;
}
h2 {
  font-size: 30px;
  font-size: 3rem;
}
h3 {
  font-size: 22px;
  font-size: 2.2rem;
}
h4 {
  font-size: 18px;
  font-size: 1.8rem;
}
h5 {
  font-size: 14px;
  font-size: 1.4rem;
}
h6 {
  font-size: 12px;
  font-size: 1.2rem;
}
abbr,
acronym {
  border-bottom: 1px dotted;
  cursor: help;
}
b,
strong {
  font-weight: 700;
}
dfn {
  font-style: italic;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
mark {
  background-color: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monaco, menlo, consolas, "courier new", courier, monospace;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: "";
  content: none;
}
small {
  font-size: 85.7%;
  font-size: 1.2rem;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
th {
  text-align: left;
}
img {
  border: 0 none;
  width: auto\9;
  height: auto;
  max-width: 100%;
  vertical-align: top;
  -ms-interpolation-mode: bicubic;
}
svg:not(:root) {
  overflow: hidden;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0 none;
  white-space: normal;
  *margin-left: -7px;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
input,
button {
  *overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}
select:disabled option:checked,
option:disabled:checked {
  color: #d2d2d2;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input {
    line-height: normal !important;
  }
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  color: darkGray !important;
  opacity: 1 !important;
}
label {
  cursor: pointer;
}
select[size],
select[multiple],
select[size][multiple] {
  border: 1px solid #aaa;
  padding: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
[draggable] {
  cursor: move;
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.container {
  padding: 0 10px;
  width: 100%;
  overflow: hidden;
}
